body {
  font-family: system-ui;
  background: white;
  color: black;
  text-align: left;
}
<style>
img {
  /*
  * Прижимаем картинку
  * к левому краю.
  */
  float: left;
  /*
  * Фиксируем высоту картинки.
  */
  height: 240px;
  width: auto;
  /*
  * Задаем внешние отступы:
  * 36% от кегля сверху,
  * чтобы попасть в строчные;
  * 50% от кегля справа,
  * чтобы отодвинуть текст.
  */
  margin: .36em .5em 0 0;
}
​
section {
  /*
  * Задаем левое поле
  * для всех секций.
  */
  padding-left: 1em;
  /*
  * Задаем относительное
  * позиционирование, чтобы
  * все дочерние элементы
  * с абсолютным позиционированием
  * отсчитывали свои координаты
  * от секции.
  */
  position: relative;
}
​
</style>